WeChat/WechaUnityProject/obj/Debug/Assembly-CSharp-Editor.csproj.CoreCompileInputs.cache
WeChat/WechaUnityProject/obj/Debug/Assembly-CSharp-Editor.csprojResolveAssemblyReference.cache
WeChat/WechaUnityProject/obj/Debug/Assembly-CSharp-firstpass.csproj.CoreCompileInputs.cache
WeChat/WechaUnityProject/obj/Debug/Assembly-CSharp-firstpass.csprojResolveAssemblyReference.cache
WeChat/WechaUnityProject/obj/Debug/Assembly-CSharp.csproj.CoreCompileInputs.cache
/PhonePushByMe/Temp
/PhonePushByMe/Library
/PhonePushByMe/obj
